#----------#
# .aliases #
#----------#

alias ..='cd ..'
alias ...='cd ../..'
alias cdl='cd $1 && ls'
alias ls='ls -lah --color=auto'
alias mkcd='mkcd_alias() { mkdir -p "$1" && cd "$1"; }; mkcd_alias'

alias v="vim"
alias nv="nvim"
