[user]
	email = iambasantarai@gmail.com
	name = iambasantarai
[init]
	defaultBranch = main
[merge]
	conflictStyle = diff3
[core]
	excludesfile = /home/basanta/.gitignore_global
[alias]
	logtree = log --graph --decorate --pretty=oneline --abbrev-commit --all
